node_modules
dist
build
.env
.env.local
coverage
.vscode
.DS_Store
backend/uploads/
__pycache__/
*.pyc
*.py[cod]
ai-runtime/.venv/ 
/frontend/src/features/assessment/phoneme-engine/data/videos/
/frontend/src/features/assessment/phoneme-engine/data/sounds/
*.code-workspace